html {
  font-size: 16px;
  overflow-x: hidden;
  background-color: #fff;
}
body{
  width: 100%;
}
h1, h2, h3 {
 font-family: "Macondo", "Georgia", "serif";
 font-weight: 400;
}
a, button {
  font-family:"Aladin", "Garamond", "serif";
  font-weight: 400;
  letter-spacing: .1rem;
  font-size: 2rem;

}

button {
  background-color: rgb(66, 29, 198);
}

div button:hover {
  background-color: rgb(94, 20, 24);
}
p {
  font-family: "Andika", "Tahoma", "sans-serif";
  font-size: 1.3rem;
}
  .hero-banner li {
    font-family:"Aladin", "Garamond", "serif";
    font-size: 1.5rem;
}

li{
  list-style: none;
}

div {
  border:solid black 2px;
  margin-bottom: 1em;
  margin-top: 1em;
}
img {
  height: auto;
}
/*Banner area*/
.port-banner{
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 1em;
  grid-template-areas: 
    "hero-title hero-title hero-title hero-title hero-title hero-title"
    "hero-item-1 hero-item-1 hero-item-2 hero-item-2 hero-item-3 hero-item-3"
    "hero-item-1 hero-item-1 hero-item-2 hero-item-2 hero-item-3 hero-item-3"
    "hero-item-1 hero-item-1 hero-item-2 hero-item-2 hero-item-3 hero-item-3"
    "hero-item-1 hero-item-1 hero-item-2 hero-item-2 hero-item-3 hero-item-3";
}

/*About section*/

#myInfo > div p::first-letter {
  font-family: "Macondo", "Georgia", "serif";
  font-size: 2rem;
  font-weight: bold;
}
/*Slider styles*/


#main-port-slide {
   background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, .7),
    rgba(0, 0, 0, .6), rgba(0, 0, 0, .7), rgba(0, 0, 0, 1));
    height: 800px; 
    width: auto;
    margin: 0;
    display: grid;
    grid-template-rows: 700px 100px; 
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr; 
    align-items: center;
    justify-items: center;
    font-family: 'Poppins', sans-serif;
}

.item img {
    width: auto;
    height: auto;
    border-radius: 30%;
    margin-top: 15px;
}
#carousel {
    grid-row: 1/2; /*original 1/2*/
    grid-column: 1 / 8;  /*to adjust the items in the grid*/
    width: 100vw;
    height: 600px; /*original 300px*/
    display: flex; /*to put all the items inline*/
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 500px; /*check this property in a bit to see why is not making effect*/
    --items: 3;
    --middle: 2;
    --position: 1;
    pointer-events: none;
}

.item {
    text-align: center;
    padding: 50px;
    border: 3px solid black;
    border-top-right-radius: 20%;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 20%;
    background-color: #fff;
    position: absolute;
    width: 400px;
    height: auto;
    background-color: white;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.4s linear;
    transform: rotateY(calc(-12deg * var(--r)))
    translateX(calc(-310px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
    --offset: 1;
}
div.item:nth-of-type(2) {
    --offset: 2;
}
div.item:nth-of-type(3) {
    --offset: 3;
}

input:nth-of-type(1):checked ~ article#carousel {
    --position: 1;
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
input:nth-of-type(2) {
    grid-column: 3/ 4;
    grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ article#carousel {
    --position: 2;
}
input:nth-of-type(3) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ article#carousel {
    --position: 3;
}

/*Credits to add by interacting*/

  footer > div .credits {
    cursor: pointer;
  }

    footer > div #firstOne::after {
    padding:0;
    font-style: italic;
    font-weight: bold;
    font-size: 1.2rem;
    content: "";
    animation: creditDevression infinite 5s;
  }

  footer > div #secondOne::after{
    padding: 0;
    font-style: italic;
    font-weight: bold;
    font-size: 1.2rem;
    content: "";
    animation: creditYuushishi infinite 5s;
  }



/*Animations on the page*/

/*Title selector*/
div > h1 {
animation: moveShaping 5s infinite;
}

/*images of interest selector*/
 :is(.port-banner img, aside img):hover {
  animation: interactiveImg 2.5s;
}

#myInfo > div {
   animation: aboutContainerBg 10s 1s linear infinite;
} 

#myInfo div p {
animation:readableText 6s linear forwards;
}


/*Animation for title in nav*/
@keyframes moveShaping {
  0% {
    transform: translate(.3em) skew(0);
  }
  25% {
    transform: translate(3em) skew(-0.6rad);
  }
  50% {
    transform: translate(.3em) skew(0.312rad);
  }
  
  100% {
    transform: translate(.3em) skew(0);
  }

}

/*Animation for about section background*/
@keyframes readableText {
  0% {
    background: linear-gradient(rgba(255, 255, 255, .1), rgba(110, 110, 110, .1));
    
  }
  25% {
    background: linear-gradient(rgba(255, 255, 255, .1), rgba(110, 110, 110, .8));

  }
  50% {
    background: linear-gradient(rgba(255, 255, 255, .8), rgba(110, 110, 110, .5));
  }
  75% {
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(110, 110, 110, .2));
  }
  100% {
    background: linear-gradient(rgba(255, 255, 255, 1));
  }
  
}
@keyframes aboutContainerBg {
 
  0% {
    background: linear-gradient(rgba(128, 128, 250, .5), rgba(49, 32, 141, .5),rgba(70, 30, 165, .5));
  }
 
    15% {
     background: linear-gradient(rgba(128, 128, 250, .5), rgba(49, 32, 141, .5),rgba(70, 30, 165, .5));
  
     }
     30% {
     background: linear-gradient(rgba(128, 128, 250, .6), rgba(49, 32, 141, .6),rgba(70, 30, 165, .6));
     
     }
      40% {
     background: linear-gradient(rgb(128, 128, 250, .7), rgba(49, 32, 141, .7),rgba(70, 30, 165, .7));
     }
      55% {
     background: linear-gradient(rgb(128, 128, 250, .8), rgba(49, 32, 141, .8),rgba(70, 30, 165, .8));
     }
      90% {
     background: linear-gradient(rgb(128, 128, 250, 1), rgba(49, 32, 141, 1),rgba(70, 30, 165, 1));
     }
  
     
     100% {
     background: linear-gradient(rgb(128, 128, 250, 1), rgba(49, 32, 141, 1),rgba(70, 30, 165, 1));
     }
}


/*Animation for images*/

@keyframes interactiveImg {
  0% {
    transform: rotate(0);
    border-radius: 0;
  }

  25% {
    transform: rotate(10deg);
    border-radius: 15em;
  }
  50% {
    transform: rotate(-10deg);
    border-radius: 15em;
  }

  100% {
    transform: rotate(0);
  }
}


/* Credits text animations*/
/* devressions */

@keyframes creditDevression {
  0% {
    content: "< >";
  }

  8% {
    content: "<< >>";
  }
  12% {
   content: "<< d >>";
  }

  18% {
   content: "<< de >>";
  } 
  22% {
   content: "<< dev >>";
  }
  28% {
   content: "<< devr >>";
  }
  34% {
   content: "<< devre >>";
  }
  40% {
   content: "<< devres >>";
  }
  46% {
   content: "<< devress >>";
  }
  52% {
   content: "<< devressi >>";
  }
  58% {
   content: "<< devressio >>";
  }
  64% {
   content: "<< devression >>";
  }
  68% {
   content: "<< devressions >>";
  }
   100% {
   content: "<< devressions >>";
  }
}
/* Fili */

@keyframes creditYuushishi {
  /*<< Fili De Abreu (Yuushishi) >>*/
  0% {
    content: "< >";
  }

  8% {
    content: "<< >>";
  }
  12% {
   content: "<< F ( >>";
  }

  18% {
   content: "<< Fi (Y  >>";
  } 
  22% {
   content: "<< Fil (Yu >>";
  }
  32% {
   content: "<< Fili (Yuu >>";
  }
  40% {
   content: "<< Fili D (Yuus >>";
  }
  48% {
   content: "<< Fili De (Yuush >>";
  }
  52% {
   content: "<< Fili De A (Yuushi >>";
  }
  58% {
   content: "<< Fili De Ab (Yuushis >>";
  }
  62% {
   content: "<< Fili De Abr (Yuushish  >>";
  }
  66% {
   content: "<< Fili De Abre (Yuushishi >>";
  }
  70% {
   content: "<< Fili De Abreu (Yuushishi) >>";
  }
  100% {
   content: "<< Fili De Abreu (Yuushishi) >>";
  }
}
/*Media queries breakpoint trial since it doesn't work like i want with tailwind*/

/*Tablet version 1*/
@media only screen and (min-width:501px) and (max-width:650px) {
 h1 {
    font-size: 2.8rem;
  }
  p {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 2rem;
  }
    nav {
    display: flex;
    flex-direction: column;
  }

  nav > div > ul a {
    font-size: 1.5rem;
  }

  nav > div > ul > li {
    padding: 0 1em;
  } 

  .port-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2em;
    padding: 1.2em;
  }
  .port-banner div {
     margin: 0;
  }
 #myInfo p {
  padding: .3em .7em;
 }
  footer > div{
    display: flex;
    flex-direction: column-reverse;
  }

    #firstOne::after {
    white-space: pre;
    content: "";
    padding: 2em;
    }
    
    footer > div p + p::after {
     white-space: pre;
     content: "";
     padding: 2em;
    }

      #firstOne, #secondOne {
      font-size: 1.13rem;
      display:flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: .8em;
    }

    footer > div {
      text-align: center;
    }
    footer > div p {
      font-size: 1.5rem;
    }
}

/*Tablet version 2*/

@media only screen and (min-width:651px) and (max-width:1024px) {

  h1 {
    font-size: 3.5rem;
  }
  p {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 2rem;
  }
    nav {
    display: flex;
    flex-direction: column;
  }

  nav > div > ul a {
    font-size: 1.8rem;
  }

  nav > div > ul > li {
    padding: 0 1em;
  } 

  .port-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2em;
    padding: 1.2em;
  }
  .port-banner div {
     margin: 0 auto;
     max-width: 75%;
  }
 #myInfo p {
  padding: .3em .7em;
 }
  footer > div{
    display: flex;
    flex-direction: column-reverse;
  }

    #firstOne::after {
    white-space: pre;
    content: "";
    padding: 2em;
    }
    
    footer > div p + p::after {
     white-space: pre;
     content: "";
     padding: 2em;
    }

      #firstOne, #secondOne {
      font-size: 1.13rem;
      display:flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: .8em;
    }

    footer > div {
      text-align: center;
    }
    footer > div p {
      font-size: 1.5rem;
    }
}


/*mobiile phone*/
@media only screen and (min-width:350px) and (max-width:500px){
  
  h1{
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 2rem;
  }
    nav {
    display: flex;
    flex-direction: column;
  }

  nav > div > ul a {
    font-size: 1.1rem;
  }

  nav > div > ul > li {
    padding: 0 1em;
  } 

  .port-banner {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1.2em;
    padding: 1.2em;
  }
  .port-banner div {
     margin: 0;
  }
  .item {
    width: 300px;
  }
 #myInfo p {
  padding: .3em .7em;
 }
  footer > div {
    display: flex;
    flex-direction: column-reverse;
  }

  footer > aside > div {
    display: flex;
    flex-direction: column;
  }

    #firstOne::after {
    content: "";
    padding: 1em;
    }
    
    footer > div p + p::after {
     content: "";
     padding: 1em;
    }

    #firstOne, #secondOne {
      font-size: 1rem;
      display:flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 1em;
    }

    footer > div {
      text-align: center;
    }
    footer > div p {
      padding: 0;
      font-size: 1.1rem;
    }
}

