html {
  font-size: 16px;
}

h1, h2, h3 {
 font-family: "Macondo", "Georgia", "serif";
 font-weight: 400;
}
a, button {
  font-family:"Aladin", "Garamond", "serif";
  font-weight: 400;
  letter-spacing: .1rem;
  font-size: 1.5rem;
  color: rgb(236, 246, 255);
  text-decoration: none; 
}

p {
  font-family: "Andika", "Tahoma", "sans-serif";
}
  .hero-banner li {
    font-family:"Aladin", "Garamond", "serif";
    font-size: 1.5rem;
}

li{
  list-style: none;
}

div {
  border:solid black 2px;
  margin-bottom: 1em;
  margin-top: 1em;
}
img {
  width: 200px;
  height: auto;
}
.port-banner{
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 1em;
  grid-template-areas: 
    "hero-title hero-title hero-title hero-title hero-title hero-title"
    "hero-item-1 hero-item-1 hero-item-2 hero-item-2 hero-item-3 hero-item-3"
    "hero-item-1 hero-item-1 hero-item-2 hero-item-2 hero-item-3 hero-item-3"
    "hero-item-1 hero-item-1 hero-item-2 hero-item-2 hero-item-3 hero-item-3"
    "hero-item-1 hero-item-1 hero-item-2 hero-item-2 hero-item-3 hero-item-3";
}
/*Slider styles*/

#main-port-slide {
  margin: 0;
  background:rgba(0, 0, 0, 0.788);
  display:grid;
  height: 40em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 30em 10em;
  justify-items: center;
  align-items: center;

}
.item img {
    width: auto;
    height: auto;
    border-radius: 30%;
    margin-top: 15px;
}
#carousel {
  grid-column: 1/ 8; /*to adjust the items in the grid*/
  grid-row: 1/ 2;
  display: flex; /*to put all the items inline*/
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  /*perspective: 600px; /*check this property in a bit to see why is not making effect*/
  --items: 3;
  --mid: 2;
  --pos: 1;
  pointer-events: none;
}
.item {
  background-color: rgb(245, 250, 255);
  position: absolute;/*position is causing problems*/


}
